<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>

  <div class="container">
    <h2>
      <%= title %>
    </h2>
    <a href="/monuments/add" class="btn btn-sm btn-primary">Add Monument</a><br /><br />
    <a href="../.." class="btn btn-sm btn-primary">Show Etudiants</a><br /><br />

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>latitude</th>
          <th>longitude</th>
          <th>ville</th>
          <th>Photo</th>

          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% etudiant.forEach(function(e){ %>
          <tr>
            <td>
              <%= e.id %>
            </td>
            <td>
              <%= e.nom %>
            </td>
            <td>
              <%= e.latitude %>
            </td>
            <td>
              <%= e.longitude %>
            </td>
            <td>
              <%= e.ville %>
            </td>
           
            <td><img src='<%= e.img %>'></td>
            <td>
              <a href="monuments/edit/<%= e.id %>" class="btn btn-sm btn-primary">Edit</a>
              <a href="monuments/delete/<%= e.id %>" class="btn btn-sm btn-danger">Delete</a>
              <button type="button" class="btn btn-sm btn-success mappage"
                onclick="Geolocalisation('<%= e.latitude %>','<%= e.longitude %>')">Checkout</button>

            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>


  </form>

  <div id='map'></div>
  <script>


    function initMap() {

      // Map options
      var options = {
        zoom: 4,
        center: { lat: 31.7945, lng: -7.0849 }
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      '<% etudiant.forEach(function(e){ %>'
      new google.maps.Marker({
        position: { lat: parseFloat('<%= e.latitude %>'), lng:parseFloat('<%= e.longitude %>') },
        map:map,
        title: '<%= e.nom %>',
      });



      '<% }); %>'

    }
    function Geolocalisation(a, b) {
      function showPosition(position) {
        var x = parseFloat(position.coords.latitude - 0.1);
        var y = parseFloat(position.coords.latitude + 0.1);
        var u = parseFloat(position.coords.longitude - 0.1);
        var v = parseFloat(position.coords.longitude + 0.1);
        if (x <= parseFloat(a) && parseFloat(a) <= y && u <= parseFloat(b) && parseFloat(b) <= v) {
          alert("You visited This monument");
        }

        else {

          alert("You did not visit this monument yet");
        }
      }
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }


  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXiKlz-u4w3wOeTD8XyOcLfYzZ4FMzXR4&callback=initMap">
    </script>


</body>
</html>